.langLabel {
  display: flex;
  gap: 8px;
  align-items: center;
  align-self: flex-end;

  @media (min-width: 768px) {
    align-self: flex-start;
  }
}

.taskTxt {
  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}
