.nav {
  margin-left: 1px;
}

.containerPagination {
  display: flex;
  justify-content: center;
  gap: 6px;
  width: 100%;
  padding: 0 3.5px;

  @media (min-width: 375px) {
    gap: 10px;
  }
}

.btnNav,
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 28px;
  height: 28px;
  padding: 0;
  border-radius: 8px;
  border: 1px solid rgba(var(--rgb-color-font-primary), 0.1);
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;

  @media (min-width: 375px) {
    min-width: 32px;
    padding: 7px 4px;
    height: 32px;
  }
}

.btnNav:hover,
.btnNav:focus-visible {
  background-color: rgba(var(--color-primary-rgb), 0.5);
  color: var(--color-font-primary);
}

.active {
  background-color: var(--color-primary);
  color: var(--color-font-secondary);
}

.icon {
  color: var(--color-font-primary);
  width: 16px;
  height: 16px;
}

.btnNav:disabled .icon {
  color: var(--color-primary);
}

.btnNav:disabled {
  background-color: transparent;
  cursor: auto;
}
