.headerForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--color-font-secondary);

  @media (min-width: 768px) {
    gap: 32px;
  }
}

.headerWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 768px) {
    gap: 20px;
    font-size: 20px;
  }
}

.titleHeader {
  font-size: 24px;
  font-weight: var(--fw-semibold);
  height: 28px;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 40px;
    height: 48px;
  }
}

.filterCategory {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 74px;

  @media (min-width: 768px) {
    width: 204px;
    height: 80px;
    margin-bottom: 6px;
  }
}

.selectForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 343px;
  height: 74px;
}

.selectForm > input {
  width: 100%;
}

.radioGroup {
  display: flex;
  gap: 16px;

  @media (min-width: 768px) {
    width: 202px;
    height: 24px;
  }
}

.radioGroup svg use {
  stroke: var(--color-font-secondary);
  fill: var(--color-font-secondary);
}

.error {
  color: var(--color-error);
  font-size: 12px;
  font-weight: var(--fw-regular);
  line-height: normal;
}
