.userName-header {
  display: none;

  @media (min-width: 375px) {
    display: inline;
    max-width: 60px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (min-width: 768px) {
    max-width: 200px;
    font-size: 20px;
    line-height: 28px;
  }
}

.userName-menu {
  display: inline;
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: 768px) {
    max-width: 150px;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;

  @media (min-width: 768px) {
    width: 48px;
    height: 48px;
  }
}

.initial-header {
  color: var(--color-primary);
  font-size: 20px;

  @media (min-width: 375px) {
    display: none;
  }
}

.initial-menu {
  display: none;
}

.avatar-header {
  background-color: var(--color-primary);
  gap: 3px;
}

.avatar-menu {
  background-color: var(--color-font-secondary);
}

.icon {
  width: 20px;
  height: 20px;

  @media (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.icon-header {
  color: var(--color-font-secondary);
}

.icon-menu {
  color: var(--color-primary);
}
