.titleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: none;

  @media (min-width: 768px) {
    display: block;
    width: 28px;
    height: 28px;
  }

  @media (min-width: 1440px) {
    width: 32px;
    height: 32px;
  }
}
