.progressWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3px;
  vertical-align: bottom;

  @media (min-width: 768px) {
    padding: 0;
    justify-content: space-between;
    height: 26px;
  }
}

.circularProgress {
  --circularSize: 24px;

  @media (min-width: 768px) {
    --circularSize: 26px;
  }
}