.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 768px) {
    gap: 18px;
  }
}

.fieldWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }
}

form .wordWrap {
  display: flex;
  align-items: center;
  gap: 8px;
  align-items: center;

  @media (min-width: 768px) {
    width: 114px;
    order: 2;
    height: 32px;
  }
}

.iconFlag {
  width: 28px;
  height: 28px;
}

.inputWrap {
  height: 48px;
  width: 100%;
  position: relative;

  @media (min-width: 768px) {
    width: 354px;
    height: 56px;
  }
}

.inputWrap input {
  border: 1px solid rgba(var(--rgb-color-font-secondery), 0.3);
  color: var(--color-font-secondary);

  &:hover {
    border-color: var(--color-font-secondary);
  }
}

form .btnWrap {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-weight: var(--fe-bold);
  width: 311px;

  @media (min-width: 768px) {
    font-size: var(--fs-big);
    line-height: 28px;
    gap: 10px;
    height: 56px;
    width: 500px;
  }
}

.btnWrap .btnSubmit {
  width: 158px;
  height: 48px;
  border-radius: 30px;
  background-color: var(--color-font-secondary);
  line-height: 1.5;
  font-weight: var(--fw-bold);
  color: var(--color-font-primary);

  &:hover {
    color: var(--color-primary);
  }

  @media (min-width: 768px) {
    height: 56px;
    width: 245px;
  }
}

.btnWrap .btnCancel {
  width: 145px;
  height: 48px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid rgba(var(--rgb-color-font-secondery), 0.4);

  &:hover {
    background-color: var(--color-font-secondary);
    color: var(--color-font-primary);
  }

  @media (min-width: 768px) {
    height: 56px;
    width: 245px;
  }
}
