.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 768px) {
    gap: 18px;
  }
}

.fieldWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }
}

form .wordWrap {
  display: flex;
  align-items: center;
  gap: 8px;
  align-items: center;

  @media (min-width: 768px) {
    width: 114px;
    order: 2;
    height: 32px;
  }
}

.iconFlag {
  width: 28px;
  height: 28px;
}

.inputWrap {
  height: 48px;
  width: 100%;
  position: relative;

  @media (min-width: 768px) {
    width: 354px;
  }
}

.inputWrap input {
  padding: 12px 24px;
  border-radius: var(--border-radius);
  border: 1px solid #d1d5db;
  background-color: transparent;
  color: var(--color-font-secondary)
}

.btnWrap {
  display: flex;
  gap: 8px;
}

.btnSave {
  width: 158px;
  height: 48px;
  border-radius: 30px;
  background-color: var(--color-font-secondary);
  line-height: 1.5;
  font-weight: var(--fw-bold);
}

.btnCancel {
  width: 145px;
  height: 48px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid rgba(var(--rgb-color-font-secondery), 0.4);
}

.formHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
