.btnWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  font-weight: var(--fw-bold);

  @media (min-width: 375px) {
    width: 343px;
  }

  @media (min-width: 768px) {
    width: 500px;
    height: 100px;
    font-size: var(--fs-big);
    line-height: 28px;
  }
}

.btnAction {
  width: 100%;
  height: 56px;
}
