.btnWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 343px;
  align-self: center;
}

.btnAction {
  width: 100%;
  height: 56px;

  @media (min-width: 768px) {
    width: 500px;
    height: 60px;
  }
}
