.btnWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  /* align-self: center; */

  @media (min-width: 768px) {
    width: 343px;
  }

  @media (min-width: 768px) {
    width: 500px;
    height: 60px;
  }
}

.btnAction {
  width: 100%;
  height: 56px;
}
