.en {
  /* padding: 16px 4px 16px 4px; */
  width: 28%;
  text-wrap: wrap;

  @media (min-width: 375px) {
    padding: 16px 10px 16px 14px;
    min-width: 82px;
  }

  @media (min-width: 768px) {
    padding: 21px 12px 20px 22px;
    width: 160px;
  }

  @media (min-width: 1440px) {
    padding: 20px 22px;
    width: 280px;
  }
}

.ua {
  /* /padding: 16px 8px 16px 6px; */
  width: 39.6%;
  text-wrap: wrap;

  @media (min-width: 375px) {
    padding: 16px 16px 16px 14px;
    min-width: 116px;
  }

  @media (min-width: 768px) {
    padding: 21px 12px 20px 22px;
    width: 169px;
  }

  @media (min-width: 1440px) {
    padding: 20px 22px;
    width: 274px;
  }
}

.category {
  padding: 16px 12px 16px 16px;

  @media (min-width: 375px) {
    padding: 16px 14px;
    min-width: 151px;
  }

  @media (min-width: 768px) {
    padding: 22px 20px 22px 22px;
    width: 151px;
  }

  @media (min-width: 1440px) {
    padding: 22px;
    width: 260px;
  }
}

.progress {
  min-width: 68px;
  width: 32.4%;

  @media (min-width: 375px) {
    padding: 16px 14px;
    min-width: 95px;
  }

  @media (min-width: 768px) {
    padding: 21.5px 20px 21.5px 22px;
    width: 122px;
  }

  @media (min-width: 1440px) {
    padding: 22px;
    width: 254px;
  }
}

.actions {
  width: 45px;

  @media (min-width: 375px) {
    padding: 14px 9px;
    width: 50px;
  }

  @media (min-width: 768px) {
    text-align: center;
    vertical-align: bottom;
    padding: 22px;
    width: 66px;
    text-wrap: nowrap;
  }

  @media (min-width: 1440px) {
    padding: 22px;
    width: 136px;
  }
}

.addWord {
  padding: 14px 9px;
}
