main {
  background-color: var(--background-secondary);
}

.sectionDashboard {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 16px;
}

.sectionTable {
  padding: 16px 0;
}

.tableRecomend > tbody > tr > td {
  height: 54px;

  @media(min-width: 768px) {
    height: 69px;
  }
}
