.select {
  width: 100%;
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  line-height: 24px;

  @media (min-width: 768px) {
    width: 164px;
  }
}


.radioGroup {
  display: flex;
  gap: 16px;
  font-size: 12px;
  font-weight: var(--fw-regular);

  @media (min-width: 768px) {
    font-size: var(--fs-small);
    line-height: 19px;
    height: 20px;
    width: 179px;
  }
}

.radioGroup icon {
  stroke: var(--color-primary);
  fill: var(--color-primary);
}
