.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media (min-width: 1440px) {
    flex-direction: row;
  }
}

.link {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-font-secondary);
  line-height: 19px;
  padding: 12px 20px;
  border-radius: var(--border-radius);

  &:hover,
  :focus-visible {
    color: var(--color-primary);
    background-color: var(--color-font-secondary);

    box-shadow:
      inset 2px 2px 1px rgba(0, 0, 0, 0.7),
      inset -2px -2px 4px rgba(255, 255, 255, 0.8);
  }

  &:active {
    background-color: var(--color-hover);
    color: var(--color-font-secondary);
  }

  @media (min-width: 1440px) {
    color: var(--color-font-primary);
  }
}

.active {
  color: var(--color-font-primary);
  background-color: var(--color-font-secondary);

  &:hover {
    color: var(--color-primary);
    background-color: var(--color-font-secondary);
  }

  @media (min-width: 1440px) {
    background-color: var(--color-primary);
    color: var(--color-font-secondary);

    &:hover {
      background-color: var(--color-hover);
      color: var(--color-font-secondary);
    }
  }
}

.btnLogout {
  gap: 6px;
  text-wrap: nowrap;
  padding: 12px 20px;
  border: none;
  outline: none;
  border-radius: var(--border-radius);

  &:hover {
    color: var(--color-primary);
    background-color: var(--color-font-secondary);
    box-shadow:
      inset 2px 2px 1px rgba(0, 0, 0, 0.7),
      inset -2px -2px 4px rgba(255, 255, 255, 0.8);
  }

  @media (min-width: 1440px) {
    border-radius: 0;
    display: none;
    padding: 0;

    &:hover {
      box-shadow: none;
    }
  }
}
