/* .authForm > *:not(:last-child) {
  margin-bottom: 16px;
} */

.titleBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 16px;
  line-height: var(--lh-base);

  @media (min-width: 768px) {
    gap: 20px;
  }
}

form > .titleBlockLogin {
  margin-bottom: 40px !important;

  @media (min-width: 768px) {
    margin-bottom: 32px !important;
  }
}

.titleText {
  font-weight: var(--fw-regular);

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.inputBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;

  @media (min-width: 768px) {
    gap: 18px;
  }
}

.inputWrap {
  position: relative;
  height: 56px;
}

.btnLogin {
  width: 100%;
  height: 56px;
  margin-top: 16px;

  @media (min-width: 768px) {
    margin-top: 0;
    width: 500px;
    height: 60px;
  }
}
