.authForm {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 375px;
  padding: 32px 16px 57px;
  background-color: rgba(var(--color-primary-rgb), 0.1);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  line-height: 24px;

  @media (min-width: 768px) {
    gap: 32px;
    padding: 48px 64px;
    max-width: 628px;
    border-radius: var(--border-big-radius);
  }

  @media (min-width: 1440px) {
    padding: 48px 64px;
  }
}

.titleBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 16px;
  line-height: var(--lh-base);
  height: 120px;

  @media (min-width: 768px) {
    gap: 20px;
    height: 128px;
  }
}

.titleText {
  font-weight: var(--fw-regular);

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.inputBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;

  @media (min-width: 768px) {
    gap: 18px;
  }
}

.inputWrap {
  position: relative;
  height: 56px;
}

.authForm .btnWrap {
  margin-top: 16px;
  gap: 16px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.authForm .btnWrap a {
  text-decoration: underline;
}
