.modalBackdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: #12141733;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow-y: auto;
  padding-top: 80px;
  padding-inline: 16px;
  align-items: flex-start;
}

.containerModal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    width: auto;
  }
}

.btnClose {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  padding: 0;
  z-index: 12;
  stroke: #fcfcfc;
  transform: rotate(0);
  transition: all 0.3s ease-in-out;

  &:hover {
    stroke: var(--color-error);
    transform: rotate(90deg);
    color: var(--color-error);
  }
}

.iconClose {
  width: 100%;
  height: 100%;
}
