.btnAction {
  padding: 0;
  background-color: transparent;
  width: 12px;
  height: 22px;
  text-align: center;
  align-items: center;

  @media(min-width: 768px) {
    width: 14px;
    height: 25px;
    margin: 0 auto;
  }
}
