.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;

  @media (min-width: 768px) {
    gap: 16px;
  }
}

.btnLogout {
  display: none;

  @media (min-width: 1440px) {
    display: flex;
    gap: 6px;
    text-wrap: nowrap;
    padding: 0;
    border: none;
    outline: none;
  }
}

.btnNav {
  padding: 0;

  @media (min-width: 1440px) {
    display: none;
  }
}

.btnX {
  width: 32px;
  height: 32px;
  padding: 0;

  @media (min-width: 1440px) {
    display: none;
  }
}

.iconNav {
  width: 32px;
  height: 22px;
  stroke: var(--color-font-primary);

  @media (min-width: 768px) {
    width: 40px;
    height: 28px;
  }
}

.iconX {
  width: 100%;
  height: 100%;
  transform: rotate(0);
  transition: all 0.3s ease-in-out;
  stroke: var(--color-font-secondary);

  &:hover {
    stroke: red;
    transform: rotate(90deg);
    transition: all 0.5s ease-in-out;
  }
}
