.input {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--color-primary-rgb), 0.1);
  padding: 16px 18px;
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  color: var(--color-font-primary);
  background-color: transparent;

  &:hover {
    border-color: var(--color-primary);
  }
}

.btnEye {
  position: absolute;
  right: 18px;
  top: 18px;
  padding: 0;
  width: 20px;
  height: 20px;
  color: var(--color-font-primary);
}

.field .inputError {
  border: 1px solid var(--color-error);
}

.field .inputValid {
  border: 1px solid var(--color-valid);
}

.error,
.valid {
  position: absolute;
  bottom: -19px;
  left: 18px;
  height: 18px;
  display: flex;
  align-items: stretch;
  gap: 4px;
  text-align: left;
  font-size: 12px;
  font-weight: var(--fw-regular);
  line-height: normal;
}

.error {
  color: var(--color-error);
}

.valid {
  color: var(--color-valid);
}

.area {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
  outline: none;
  resize: none;
}

.iconError {
  width: 16px;
  height: 16px;
}
