.input {
  width: 100%;
  height: 56px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-input);
  padding: 16px 18px;
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  color: var(--color-font-primary);
  background-color: rgba(var(--color-primary-rgb), 0.1);
}

.btnEye {
  position: absolute;
  right: 18px;
  top: 18px;
  padding: 0;
  width: 20px;
  height: 20px;
  color: var(--color-font-primary);
}

.inputError {
  border: 1px solid var(--color-error);
}

.inputValid {
  border: 1px solid var(--color-valid);
}
.error {
  position: absolute;
  top: 56px;
  left: 18px;
  text-align: left;
  color: var(--color-error);
  font-size: 12px;
  font-weight: var(--fw-regular);
  line-height: normal;
}
