#root {
  width: 1440px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  display: flex;
  width: 100%;
  padding: 16px 0;

  @media (min-width: 768px) {
    padding: 20px 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px 16px;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  width: 100%;

  @media (min-width: 375px) {
    max-width: 343px;
  }

  @media (min-width: 768px) {
    padding: 48px 64px;
    max-width: 628px;
  }
}
