#root {
  width: 1440px;
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  display: flex;
  width: 100%;
  padding: 16px 0;
  background-color: var(--background-header);

  @media (min-width: 768px) {
    padding: 20px 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px 16px;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 288px;

  @media (min-width: 375px) {
    max-width: 343px;
  }

  @media (min-width: 768px) {
    max-width: 628px;
  }
}

.fallbackLoader {
  margin-top: 300px;

  @media (min-width: 768px) {
    margin-top: 250px;
  }

  @media (min-width: 1440px) {
    margin-top: 170px;
  }
}
